body {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.count {
    font-size: 24px;
    color: purple;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
.buttons > button.active {
    font-weight: 600;
}